body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 678px;
    flex-wrap: wrap;
    justify-content: center;
}

.cont {
    display: flex;
    flex-direction: column;
}